<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoyao.mymusicapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_musicapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.StartActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BaseActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.PlayerActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.ChooseDirectoryActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.MusicListActivity"
            android:launchMode="singleInstance" />

        <service
            android:name=".service.MyMusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activity.SettingActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".activity.FavoriteActivity"
            android:launchMode="singleInstance" />
    </application>

</manifest>